body{
    background: darkcyan;
    text-align: center;
    direction: rtl;
    margin: 0;
}

header{
    background: lightskyblue;
    text-align: center;
    width: 100%;
    height: 40px; 
}

#cart{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 8%;

}

#menu{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 8%;
  }

  #logo{
      height: 100%;
      top: 0px;
      width: 40%;
      text-align: center;
  }

  #maindiv{
      background: darkgreen;
      width: 100%;
      height: 470px;
      font-size: 30px;
     
  }

  #right{
    background: darkslateblue;
    position: absolute;
    top: 100px;
    width: 15%;
    height: 800px;
    display: none;
  
}

#left{
    background: darkslateblue;
    position: absolute;
    top: 100px;
    width: 15%;
    height: 800px;
    display: none;
  
}

  footer{
      background: darkmagenta;
      height: 60px;
      font-size: 30px;
  }

  #frm{
      
  }

  @media only screen and (min-width: 600px) {
    header{
        background: lightskyblue;
        text-align: center;
        width: 100%;
        height: 100px; 
    }

    
  #maindiv{
    background: darkgreen;
    width: 100%;
    height: 800px;
    font-size: 50px;
   
}

footer{
    background: darkmagenta;
    height: 122px;
    font-size: 80px;
}
#right{
    background: darkslateblue;
    position: absolute;
    top: 100px;
    width: 15%;
    height: 800px;
    display: block;
    font-size: 30px;
    color: floralwhite;
}

#left{
    background: darkslateblue;
    position: absolute;
    top: 100px;
    left: 0;
    width: 15%;
    height: 800px;
    display: block;
    font-size: 30px;
    color: floralwhite;
}

.frm{
   font-size: x-large;
}

#pass{
   display: block;
   font-size: x-large;
   margin: 0 auto;
}

#rdi{
    margin-top: 10px;
    font-size: 30px;
}

   }